body {
  margin: 0;
  background: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10px;
}
